<div class="l-constrained ">
<h1 class="border_heading">宿泊申請フォーム</h1>

<%= form_tag("/form/add",{method: :post}) do %>
  <p></p>
<input name="month" style="width:30px;">月
<input name="startDay" style="width:30px;">日から
<input name="longDay" style="width:60px;">日間宿泊を希望する<br><br><br>
<input type="submit" class="button-success button" value="地域選択">
<% end %>
</div>