<div class="l-constrained">


  <h1 class="border_heading">
    RCC部員に空室を問い合わせることができます
  </h1>
  <div style="width: 60%;float:left;padding:30px 30px;">
    勉強会やインターン、その他各種イベントなどに参加する際、自分が滞在したい地方と日程を登録することができます。<br><br>滞在したい地域に住んでいるRCC部員/RCC-OBへの各個の問い合わせを省略することで、一時的な宿探しを簡略化することができます。
  </div>
  <div>
    <img src="https://www.sumaistar.com/news/yomimono/wp-content/uploads/sites/2/2016/07/b842b769de2616539a5a1af58d2c2c3c.jpg" alt=""  style="width:30%;">
  </div>

  <h1 class="border_heading">
    RCC部員に自室を提供することができます
  </h1>
  <div style="width: 60%;float:left;padding:30px 30px;">
    RCC部員の要求に応えて、自室を提供して現役の部員と近況報告などの交流をすることができます。<br><br>きっと良心的なRCC部員からお土産を受け取ることができるでしょう。
  </div>
  <div>
    <img src="https://antenna.imagenavi.jp/wp-content/uploads/2017/06/02009165-M-imagenavi.jpg" alt="" style="width: 30%">
  </div>
</div>
