<div class="l-constrained">
  <h1 class="border_heading">ログイン</h1>
  <%= form_tag("/user/login") do %>
    <div class="box">
      <p class="name">ユーザー名</p>
      <input name="name">
    </div>
    <div class="box">
      <p class="name">パスワード</p>
      <input name="password">
    </div>
    <input class="button button-success" type="submit" value="ログイン">
  <% end %>
</div>


<% @users.each do |user| %>
  <p>ユーザー:</p>
  <%= user.id %>
  <%= user.name %>
  <%= user.password %><br>
<% end %>

