<h3>ここはログインページです</h3>
<h2>会員様</h2>

<% @users.each do |user| %>
  <p>ユーザー:</p>
  <%= user.id %>
  <%= user.name %>
  <%= user.password %>
<% end %>

<h3>ログイン中の情報</h3>

<% if @current_user %>
  <%= @current_user.name %>
<% end %>