<div class="l-constrained">
<h1 class="border_heading">これは新規登録のページです</h1>

<div class="link">
  <%= form_tag("/user/new") do %>

    <div class="box">
    <p class="name">ユーザー名 </p>
    <input name="name">
    </div>

    <div class="box">
    <p class="name">パスワード </p>
    <input name = "password">
    </div>

    <div class="box">
    <p class="name">Twitter ID </p>
    <input name="twitter">
    </div>

    <input type="submit" class="button button-success" value="新規登録">
    <% end %>
</div>
</div>