  <div class="l-main clearfix">
    <div class="l-constrained">
      <div class="intro_top">
        <h1>
          あなたとBook<br>
          いつでもログイン
        </h1>
        <p>Bookは洗練されたデザインとシンプルな操作感が特徴の宿泊共有システムです。
          <br>RCC部員の東京進出・宿泊を支援し、施設提供可能な部員と宿泊希望の部員をマッチングさせ、<br>宿泊費の削減と部員間の交流の促進を実現します。
        </p><hr>
      </div>

      <div class="l-grid-row intro_box clearfix">


      </div>

      <div class="l-grid-row intro_box clearfix">

        <div class="l-grid-1-2 l-align-left">
          <img class="intro2" src="/html_images/flower_tsuyukusa.png">
        </div><div class="l-grid-1-2 l-align-right">
        <h2>露草色をあしらった<br>
          清爽なカラーデザイン</h2>
        <p>
          露草色は清爽感と信頼感をわたしたちにもたらします。<br>
          ミントのような押し付けがましい清涼感などここにはありません。<br>
          Bookは全面的に露草色を採用したため、貫徹して迎えた早朝のような清爽さを感じながら宿泊予約をすることが出来ます。
        </p>
      </div>
      </div></div>

  </div>
</div>



<!-- saved from url=(0032)http://tansu.rcc.ritsumei.ac.jp/ -->


