<p>地域選択</p>
<%= form_tag("/post/#{@form.id}/makeTokyo",{method: :post}) do %>
  <input type="submit" value="東京">
<% end %>
<%= form_tag("/post/#{@form.id}/makeMinakusa",{method: :post}) do %>
  <input type="submit" value="南草津">
<% end %>
